.root {
  box-shadow: 20px 20px 30px 0px #222343 inset;
  background: #27324D;
}

.fileAccepted {
  box-shadow: 20px 20px 30px 0px #22FF43 inset;
}

.fileRejected {
  box-shadow: 20px 20px 30px 0px #FF2343 inset;
}
