.root {
  box-shadow: 20px 20px 30px 0px #222343 inset;
  background-color: #27324D;
  background: url('/images/landing-page/download-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.fileAccepted {
  box-shadow: 20px 20px 30px 0px #22FF43 inset;
}

.fileRejected {
  box-shadow: 20px 20px 30px 0px #FF2343 inset;
}
